aiohttp==3.9.1+computecanada
aiosignal==1.3.1+computecanada
annotated_types==0.6.0+computecanada
anyio==3.7.1+computecanada
appdirs==1.4.4+computecanada
arff==0.9+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
argparse_dataclass==2.0.0+computecanada
asciitree==0.3.3+computecanada
asttokens==2.2.1+computecanada
async_generator==1.10+computecanada
attrs==23.1.0+computecanada
Babel==2.15.0+computecanada
backcall==0.2.0+computecanada
backports-abc==0.5+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
bcrypt==4.0.1+computecanada
beautifulsoup4==4.12.2+computecanada
bitarray==2.8.1+computecanada
bitstring==4.1.1+computecanada
bleach==6.0.0+computecanada
blosc2 @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/blosc2/blosc2-2.2.9
bokeh==2.4.3+computecanada
boltons==24.0.0+computecanada
Bottleneck==1.3.6+computecanada
cached-property @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/cachedproperty/cached-property-1.5.2
Cartopy==0.22.0+computecanada
certifi==2023.7.22+computecanada
cf_xarray==0.9.1+computecanada
cffi==1.15.1+computecanada
cftime @ file:///tmp/ebuser/avx2/netCDF/4.9.2/gompi-2023a-mpi/cftime/cftime-1.6.2
chardet==5.2.0+computecanada
charset_normalizer==3.2.0+computecanada
click==8.1.7+computecanada
click-plugins==1.1.1+computecanada
cligj==0.7.2+computecanada
clisops==0.13.0+computecanada
cloudpickle==3.0.0+computecanada
comm==0.1.4+computecanada
conda_inject==1.3.2+computecanada
ConfigArgParse==1.7+computecanada
connection_pool==0.0.3+computecanada
contourpy==1.1.0+computecanada
cryptography==39.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.36+computecanada
dask==2024.5.1+computecanada
dask_expr==1.1.1+computecanada
dask_jobqueue==0.8.2+computecanada
datrie==0.8.2+computecanada
deap==1.4.1+computecanada
debugpy==1.6.7.post1+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
distributed==2024.5.1+computecanada
dnspython==2.4.2+computecanada
docutils==0.21.2+computecanada
dpath==2.2.0+computecanada
ecdsa==0.18.0+computecanada
entrypoints==0.4+computecanada
esmpy @ file:///tmp/ebuser/avx2/ESMF/8.6.0/gofb-2023a/esmf-8.6.0/src/addon/esmpy
executing==1.2.0+computecanada
fasteners==0.19+computecanada
fastjsonschema==2.18.0+computecanada
fastprogress==1.0.3+computecanada
filelock==3.13.1+computecanada
fiona==1.9.5+computecanada
flox==0.9.8+computecanada
fonttools==4.42.1+computecanada
frozenlist==1.4.1+computecanada
fsspec==2024.6.0+computecanada
funcsigs==1.0.2+computecanada
geopandas==0.14.4+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.43+computecanada
graphviz==0.20.3+computecanada
h5netcdf==1.3.0+computecanada
h5py @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/h5py/h5py-3.10.0
humanfriendly==10.0+computecanada
idna==3.4+computecanada
immutables==0.20+computecanada
importlib_metadata==6.8.0+computecanada
importlib_resources==6.0.1+computecanada
intake==0.7.0+computecanada
intake_esm==2024.2.6+computecanada
ipykernel==6.25.1+computecanada
ipython==8.15.0+computecanada
ipython_genutils==0.2.0+computecanada
jedi==0.19.0+computecanada
Jinja2==3.1.2+computecanada
joblib==1.4.2+computecanada
jsonpickle==3.0.4+computecanada
jsonschema==4.19.0+computecanada
jsonschema_specifications==2023.7.1+computecanada
jupyter_client==8.3.1+computecanada
jupyter_core==5.3.1+computecanada
kiwisolver==1.4.5+computecanada
llvmlite==0.41.1+computecanada
locket==1.0.0+computecanada
lockfile==0.12.2+computecanada
loguru==0.7.2+computecanada
lz4==4.3.2+computecanada
MarkupSafe==2.1.3+computecanada
matplotlib==3.7.2+computecanada
matplotlib_inline==0.1.6+computecanada
mistune==3.0.1+computecanada
mock==5.1.0+computecanada
mpi4py @ file:///tmp/ebuser/avx2/mpi4py/3.1.4/gompi-2023a/mpi4py/mpi4py-3.1.4
mpmath==1.3.0+computecanada
msgpack==1.0.4+computecanada
multidict==6.0.5+computecanada
mypy_extensions==1.0.0+computecanada
nbformat==5.10.4+computecanada
ndindex @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/ndindex/ndindex-1.7
nest_asyncio==1.5.7+computecanada
netaddr==0.8.0+computecanada
netCDF4 @ file:///tmp/ebuser/avx2/netCDF/4.9.2/gompi-2023a-mpi/netCDF4/netCDF4-1.6.4
netifaces==0.11.0+computecanada
nose==1.3.7+computecanada
numba==0.58.1+computecanada
numcodecs==0.12.1+computecanada
numexpr @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/numexpr/numexpr-2.8.7
numpy==1.25.2+computecanada
numpy_groupies==0.10.2+computecanada
packaging==23.1+computecanada
pandas==2.2.1+computecanada
pandocfilters==1.5.0+computecanada
paramiko==3.3.1+computecanada
parse==1.20.1+computecanada
parso==0.8.3+computecanada
partd==1.4.2+computecanada
path==16.7.1+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.7.post1+computecanada
patsy==0.5.6+computecanada
paycheck==1.0.2+computecanada
pbr==5.11.1+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==10.0.0+computecanada
Pint==0.23+computecanada
pkgutil_resolve_name==1.3.10+computecanada
plac==1.4.3+computecanada
platformdirs==4.2.2+computecanada
pooch==1.8.2+computecanada
prometheus_client==0.17.1+computecanada
prompt_toolkit==3.0.39+computecanada
psutil==5.9.5+computecanada
ptyprocess==0.7.0+computecanada
PuLP==2.8.0+computecanada
pure_eval==0.2.2+computecanada
py-cpuinfo @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/pycpuinfo/py-cpuinfo-9.0.0
pyarrow @ file:///tmp/ebuser/avx2/Arrow/16.1.0/GCCcore-12.3-gentoo/arrow/python
pyarrow_hotfix==0.6+computecanada
pycparser==2.21+computecanada
pydantic==2.7.3+computecanada
pydantic_core==2.18.4+computecanada
Pygments==2.16.1+computecanada
PyNaCl==1.5.0+computecanada
pyparsing==3.0.9+computecanada
pyproj @ file:///tmp/ebuser/avx2/PROJ/9.4.1/GCCcore-12.3-gentoo/pyproj/pyproj-3.6.1
pyrsistent==0.19.3+computecanada
pyshp==2.3.1+computecanada
python-dateutil==2.8.2+computecanada
python_json_logger==2.0.7+computecanada
pytz==2023.3+computecanada
PyYAML==6.0.1+computecanada
pyzmq==25.1.1+computecanada
rechunker==0.5.2+computecanada
referencing==0.30.2+computecanada
requests==2.31.0+computecanada
reretry==0.11.8+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
roocs_grids==0.1.2+computecanada
roocs_utils==0.6.8+computecanada
rpds_py==0.10.0+computecanada
scikit_learn==1.4.2+computecanada
scipy==1.11.2+computecanada
Send2Trash==1.8.2+computecanada
shapely==2.0.2+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==4.1.0+computecanada
six==1.16.0+computecanada
smart_open==7.0.4+computecanada
smmap==5.0.1+computecanada
snakemake==8.12.0+computecanada
snakemake-executor-plugin-cluster-generic==1.0.9
snakemake-executor-plugin-slurm==0.8.0
snakemake-executor-plugin-slurm-jobstep==0.2.1
snakemake_interface_common==1.17.2+computecanada
snakemake_interface_executor_plugins==9.2.0+computecanada
snakemake_interface_report_plugins==1.0.0+computecanada
snakemake_interface_storage_plugins==3.2.3+computecanada
sniffio==1.3.0+computecanada
sortedcontainers==2.4.0+computecanada
soupsieve==2.4.1+computecanada
sparse==0.15.4+computecanada
stack_data==0.6.2+computecanada
statsmodels==0.14.0+computecanada
stopit==1.1.2+computecanada
sympy==1.12+computecanada
tables @ file:///tmp/ebuser/avx2/HDF5/1.14.2/gompi-2023a-mpi/tables/tables-3.9.1
tabulate==0.9.0+computecanada
tblib==3.0.0+computecanada
terminado==0.17.1+computecanada
testpath==0.6.0+computecanada
threadpoolctl==3.5.0+computecanada
throttler==1.2.2+computecanada
tinycss2==1.2.1+computecanada
toolz==0.12.1+computecanada
toposort==1.10+computecanada
tornado==6.3.3+computecanada
traitlets==5.9.0+computecanada
typing_extensions==4.7.1+computecanada
tzdata==2023.3+computecanada
urllib3==2.0.4+computecanada
wcwidth==0.2.6+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.2+computecanada
wrapt==1.16.0+computecanada
xarray==2024.5.0+computecanada
xclim @ file:///project/ctb-frigon/julavoie/wheels/xclim-0.51.1.dev10-py3-none-any.whl#sha256=71bfe4e4eca19e3a215d683f2f44d31ce0f2bafb6dd66593f14fb1bae3a37421
xesmf==0.8.5+computecanada
xscen==0.9.0+computecanada
yamale==5.2.1+computecanada
yarl==1.9.3+computecanada
yte==1.5.4+computecanada
zarr==2.18.2+computecanada
zict==3.0.0+computecanada
zipp==3.16.2+computecanada
zstandard==0.22.0+computecanada
