aiohappyeyeballs==2.4.6+computecanada
aiohttp==3.10.9+computecanada
aiosignal==1.3.2+computecanada
annotated_types==0.7.0+computecanada
appdirs==1.4.4+computecanada
argparse_dataclass==2.0.0+computecanada
asciitree==0.3.3+computecanada
asttokens==2.4.1+computecanada
attrs==25.2.0
bokeh==3.6.3+computecanada
boltons==25.0.0+computecanada
Bottleneck==1.4.0+computecanada
Cartopy==0.23.0+computecanada
certifi==2024.6.2
cf_xarray==0.10.2+computecanada
cftime==1.6.4.post1+computecanada
charset_normalizer==3.4.1+computecanada
click==8.1.8+computecanada
clisops==0.15.0+computecanada
cloudpickle==3.1.1+computecanada
comm==0.2.2+computecanada
conda_inject==1.3.2+computecanada
ConfigArgParse==1.7+computecanada
connection_pool==0.0.3+computecanada
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
dask==2024.10.0+computecanada
dask_expr==1.1.16+computecanada
datrie==0.8.2+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
distributed==2024.10.0+computecanada
docutils==0.21.2+computecanada
dpath==2.2.0+computecanada
entrypoints==0.4+computecanada
esmpy @ file:///tmp/ebuser/avx2/ESMF/8.7.0/foss-2023a/esmf-8.7.0/src/addon/esmpy
et_xmlfile==2.0.0+computecanada
executing==2.0.1+computecanada
fasteners==0.19+computecanada
fastjsonschema==2.21.1+computecanada
fastprogress==1.0.3+computecanada
filelock==3.17.0+computecanada
flexcache==0.3+computecanada
flexparser==0.4+computecanada
flit_core==3.10.1+computecanada
flox==0.10.0+computecanada
fonttools==4.53.0+computecanada
frozenlist==1.5.0+computecanada
fsspec==2025.3.0+computecanada
geopandas==1.0.1+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.44+computecanada
h5netcdf==1.5.0+computecanada
h5py==3.12.0+computecanada
humanfriendly==10.0+computecanada
idna==3.10+computecanada
immutables==0.20+computecanada
intake==0.7.0+computecanada
intake_esm==2024.2.6+computecanada
ipykernel==6.29.4+computecanada
ipython==8.25.0+computecanada
jedi==0.19.1+computecanada
jinja2==3.1.6+computecanada
joblib==1.4.2+computecanada
jsonpickle==4.0.2
jsonschema==4.23.0+computecanada
jsonschema_specifications==2024.10.1+computecanada
jupyter_client==8.6.2+computecanada
jupyter_core==5.7.2+computecanada
kiwisolver==1.4.5+computecanada
llvmlite==0.44.0+computecanada
locket==1.0.0+computecanada
loguru==0.7.3+computecanada
lz4==4.3.3+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.0+computecanada
matplotlib_inline==0.1.7+computecanada
mdurl==0.1.2+computecanada
mpi4py @ file:///tmp/ebuser/avx2/mpi4py/4.0.3/gompi-2023a/mpi4py-4.0.3
mpmath==1.3.0+computecanada
msgpack==1.1.0+computecanada
multidict==6.1.0+computecanada
mypy_extensions==1.0.0+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
netCDF4==1.7.2+computecanada
networkx==3.4.2+computecanada
numba==0.61.0+computecanada
numcodecs==0.13.1+computecanada
numpy==1.26.4+computecanada
numpy_groupies==0.11.2+computecanada
openpyxl==3.1.5+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
parse==1.20.2+computecanada
parso==0.8.4+computecanada
partd==1.4.2+computecanada
patsy==1.0.1+computecanada
pexpect==4.9.0+computecanada
pillow==10.3.0+computecanada
Pint==0.24.4+computecanada
plac==1.4.3+computecanada
platformdirs==4.3.6+computecanada
pooch==1.8.2+computecanada
prompt_toolkit==3.0.47+computecanada
propcache==0.2.1+computecanada
psutil==5.9.8
ptyprocess==0.7.0+computecanada
PuLP==2.8.0+computecanada
pure_eval==0.2.2+computecanada
pyarrow @ file:///tmp/ebuser/avx2/Arrow/18.1.0/GCCcore-12.3-gentoo/arrow/python
pydantic==2.10.6+computecanada
pydantic_core==2.27.2+computecanada
pygments==2.18.0+computecanada
pyogrio==0.10.0+computecanada
pyparsing==3.1.2+computecanada
pyproj @ file:///tmp/ebuser/avx2/PROJ/9.4.1/GCCcore-12.3-gentoo/pyproj/pyproj-3.6.1
pyshp==2.3.1+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.0.3+computecanada
rechunker==0.5.2+computecanada
referencing==0.36.2+computecanada
requests==2.32.3+computecanada
reretry==0.11.8+computecanada
rich==13.9.4+computecanada
roocs_grids==0.1.2+computecanada
rpds_py==0.21.0+computecanada
scikit_learn==1.6.1+computecanada
scipy==1.13.1+computecanada
setuptools==76.0.0+computecanada
shapely==2.0.7+computecanada
shellingham==1.5.4+computecanada
six==1.16.0+computecanada
smart_open==7.1.0+computecanada
smmap==5.0.2+computecanada
snakemake==8.12.0+computecanada
snakemake-interface-executor-plugins==9.3.3
snakemake-interface-storage-plugins==3.4.0
snakemake_executor_plugin_cluster_generic==1.0.9+computecanada
snakemake_interface_common==1.17.4+computecanada
snakemake_interface_report_plugins==1.1.0+computecanada
sortedcontainers==2.4.0+computecanada
sparse==0.15.5+computecanada
stack_data==0.6.3+computecanada
statsmodels==0.14.3+computecanada
stopit==1.1.2+computecanada
sympy==1.12.1+computecanada
tabulate==0.9.0+computecanada
tblib==3.0.0+computecanada
threadpoolctl==3.5.0+computecanada
throttler==1.2.2+computecanada
toolz==1.0.0+computecanada
toposort==1.10+computecanada
tornado==6.3.3+computecanada
traitlets==5.14.3+computecanada
typer==0.15.2
typing_extensions==4.12.2+computecanada
tzdata==2024.1+computecanada
urllib3==2.3.0+computecanada
wcwidth==0.2.13+computecanada
wrapt==1.17.2+computecanada
xarray==2025.1.2+computecanada
xclim==0.55.1
xesmf==0.8.8+computecanada
xscen @ file:///home/julavoie/code/test-vs/info-crue-cmip6/wheel/xscen-0.12.1.dev2-py3-none-any.whl#sha256=fdb1ad1b17d2306fc569e226bf04522ba2b0da6a555e70d65be73c1250f71acf
xsdba==0.3.2
xyzservices==2025.1.0+computecanada
yamale==6.0.0+computecanada
yarl==1.18.3+computecanada
yte==1.7.0
zarr==2.18.4+computecanada
zict==3.0.0+computecanada
